<DOCTYPE html>
    <html>
        <head >
             <meta name="Flashcard Login Page" content="width=device-width, initial-scale=1">
            <title> Add Card</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            <link rel="stylesheet" href="mystyle.css">
        </head>
         
        
        <body style="background-color: rgb(224, 224, 224)"">
            <form method="POST" action="/Add_deck.html/{{user_name}}" id="Login_info" onkeypress=" event.keyCode != 13;">
            <div style="background-color: rgb(160, 153, 153);padding-top: 10px;padding-bottom: 10px;">
                
                <h3 style="text-align: center;">Add a new deck</h3>
            
            </div>
            <br><br>
          

            <div class="container", style="max-width: 700px; border-style: ridge;border-color: grey;
            padding-right: 50px;padding-left: 50px;padding-top: 50px; padding-bottom: 10px; margin-bottom: 60px; background-color: white;">
              
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Enter the name of your deck</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Eg. Who is the prime minister of India" name="Add_deck">
              </div>
              <button type="Login" class="btn btn-outline-success" style="border-radius:10px;border-width: 2px;"  name="option" value="04">Add Deck</button>
              &emsp;&emsp;
              
             </div> 
            </form>
        </body>
    </html>
    </DOCTYPE>